<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Curve Point List</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <h1>Curve Point List</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Curve Id</th>
            <th>Term</th>
            <th>Value</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="curvePoint : ${curvePoints}">
            <td th:text="${curvePoint.id}"></td>
            <td th:text="${curvePoint.curveId}"></td>
            <td th:text="${curvePoint.term}"></td>
            <td th:text="${curvePoint.value}"></td>
            <td>
                <a th:href="@{'/curvePoint/update/' + ${curvePoint.id}}" class="btn btn-primary">Edit</a>
                <a th:href="@{'/curvePoint/delete/' + ${curvePoint.id}}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/curvePoint/add" class="btn btn-success">Add New Curve Point</a>
</div>
</body>
</html>

