<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bid List</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <h1>Bid List</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Account</th>
            <th>Type</th>
            <th>Bid Quantity</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bid : ${bidLists}">
            <td th:text="${bid.id}"></td>
            <td th:text="${bid.account}"></td>
            <td th:text="${bid.type}"></td>
            <td th:text="${bid.bidQuantity}"></td>
            <td>
                <a th:href="@{'/bidList/update/' + ${bid.id}}" class="btn btn-primary">Edit</a>
                <a th:href="@{'/bidList/delete/' + ${bid.id}}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/bidList/add" class="btn btn-success">Add New Bid</a>
</div>
</body>
</html>

