<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Trade</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <h1>Update Trade</h1>
    <form th:action="@{'/trade/update/' + ${trade.id}}" method="post">
        <div class="form-group">
            <label for="account">Account</label>
            <input type="text" id="account" name="account" class="form-control" th:value="${trade.account}" required />
        </div>
        <div class="form-group">
            <label for="type">Type</label>
            <input type="text" id="type" name="type" class="form-control" th:value="${trade.type}" required />
        </div>
        <div class="form-group">
            <label for="buyQuantity">Buy Quantity</label>
            <input type="number" id="buyQuantity" name="buyQuantity" class="form-control" th:value="${trade.buyQuantity}" required />
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="/trade/list" class="btn btn-secondary">Cancel</a>
    </form>
</div>
</body>
</html>

