<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Rule Name</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <h1>Add Rule Name</h1>
    <form th:action="@{/ruleName/add}" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" name="description" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="json">JSON</label>
            <input type="text" id="json" name="json" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="template">Template</label>
            <input type="text" id="template" name="template" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="sqlStr">SQL String</label>
            <input type="text" id="sqlStr" name="sqlStr" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="sqlPart">SQL Part</label>
            <input type="text" id="sqlPart" name="sqlPart" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/ruleName/list" class="btn btn-secondary">Cancel</a>
    </form>
</div>
</body>
</html>

