<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rule Name List</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <h1>Rule Name List</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>JSON</th>
            <th>Template</th>
            <th>SQL String</th>
            <th>SQL Part</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ruleName : ${ruleNames}">
            <td th:text="${ruleName.id}"></td>
            <td th:text="${ruleName.name}"></td>
            <td th:text="${ruleName.description}"></td>
            <td th:text="${ruleName.json}"></td>
            <td th:text="${ruleName.template}"></td>
            <td th:text="${ruleName.sqlStr}"></td>
            <td th:text="${ruleName.sqlPart}"></td>
            <td>
                <a th:href="@{'/ruleName/update/' + ${ruleName.id}}" class="btn btn-primary">Edit</a>
                <a th:href="@{'/ruleName/delete/' + ${ruleName.id}}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/ruleName/add" class="btn btn-success">Add New Rule Name</a>
</div>
</body>
</html>

